body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container {
    width: 100%;
    height: 60px;
    background-color: #3D59B1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    min-width: 200px;
    padding: 8px 16px;
    border-radius: 8px 0 0 8px;
    border: none;
    background-color: aliceblue;
  }
  
  .search-btn {
    border: none;
    background-color: aliceblue;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
  }
  
  .search-btn svg {
    fill: none;
    stroke: grey;
  }
  
  .search-btn svg:hover,
  .search-btn svg:focus {
    stroke: #3D59B1;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .photo-card {
    margin: 10px;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .photo-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .info {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 0 0 8px 8px;
  }
  
  .info-item {
    text-align: center;
    margin: 5px 0;
  }
  
  .load-more {
    margin: 24px;
    padding: 8px 16px;
    display: none;
    background: none;
    border: solid 1px #3D59B1;
    border-radius: 4px;
    color: #3D59B1;
    cursor: pointer;
  }
  
  .load-more:hover,
  .load-more:focus {
    color: #fff;
    background-color: #3D59B1;
  }
  